{% include base_path %}
<table style="border: 0; width=min-content;">
  <tr style="border: 0;">
    <td style="border: 0;"><img width="100" height="100" src="/images/2023/04/NoNuc.svg" /></td>
    <td style="border: 0;"><h2 style="margin:0;">AT 2023-04-15 00:00 CEST GERMANY<br />SHUT DOWN ALL NUCLEAR POWER PLANTS</h2></td>
  </tr>
</table>